<% @campsites.each do |campsite| %>
  <%= link_to campsite.name, public_campsite_path(campsite) %>

  <% if user_signed_in? %>
  <%# いいね機能 非同期 %>
    <span class=<%= "like-" + campsite.id.to_s %>>
      <%= render partial: "favorite", locals: { campsite: campsite } %>
    </span>
  <% end %>
<% end %>

<div>
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, {method: :delete} %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>
  <%= link_to "キャンプ場一覧", public_campsites_path %>
</div>