<div class="container-fluid">
  <div class="row">
    <div class="area">
      <%# サイドバー %>
      <%= render partial: "layouts/sidebar" %>

      <%# メインコンテンツ %>
      <div class="main">
        <div class="main-imagecolor-opacity">
          <h2 class="main-title"><%= @campsite.name %></h2>
          <div class="campsite-content">
            <div class="campsite-image">
              <span class="image-favorite">
                <%= attachment_image_tag @campsite, :image, format: 'jpeg', size: "700x300", fallback: "noimage-campsite.png", class: "campsite-image-circle" %>
                <span class="image-favorite-content">
                  <%# いいね機能 非同期 %>
                  <span class= <%= "like-" + @campsite.id.to_s %>>
                    <%= render partial: "favorite", locals: { campsite: @campsite } %>
                  </span>
                </span>
              </span>
            </div>
            <div class="campsite-text">
              <table class="campsite-table">
                <tr>
                  <th>名称</th>
                  <td><%= @campsite.name %></td>
                </tr>
                <tr>
                  <th>住所</th>
                  <td>〒<%= @campsite.postcode.to_s.insert(3, "-") %>　<%= @campsite.address %></td>
                </tr>
              </table>
            </div>
            <div class="campsite-link-map">
              <div class="link-field"><%= link_to "口コミする!", public_campsite_comment_path(@campsite), class: "link" %></div>
              <div class="link-field"><%= link_to "参加者を募集する!", public_campsite_recruitments_path(@campsite), class: "link" %></div>
              <%# Googlemap表示 %>
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function initMap() {

    var test ={lat: <%= @campsite.latitude %>, lng: <%= @campsite.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @campsite.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });


    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>