<div class="top-image">
  <%= link_to new_user_registration_path, class: "link-top-sinup" do %>
    <span class="top-sinup">Sign up</span>
  <% end %>
  <%= link_to new_user_session_path, class: "link-top-login" do %>
    <span class="top-login">Login</span>
  <% end %>
  <%= link_to public_homes_guest_sign_in_path, { method: :post, class: "link-top-guestlogin"} do %>
    <span class="top-guestlogin">かんたんログイン</span>
  <% end %>
</div>

<div class="responsive-top-image">
  <span class="top-sinup"><%= link_to "Sign up", new_user_registration_path, class: "link responsive-top-sinup" %></span>
  <span class="top-login"><%= link_to "Login", new_user_session_path, class: "link responsive-top-login" %></span>
  <span class="top-guestlogin"><%= link_to "かんたんログイン", public_homes_guest_sign_in_path, { method: :post, class: "link responsive-top-guestlogin"} %></span>
</div>