<div class="container-fluid">
  <div class="row">
    <div class="area">
      <%# サイドバー %>
      <%= render partial: "layouts/sidebar" %>

      <%# メインコンテンツ %>
      <div class="main">
        <div class="main-imagecolor-opacity">
          <h2 class="main-title">募集中のキャンプ一覧</h2>
          <% @recruitments.each do |recruitment| %>
            <div class="comments-table-content">
              <table>
                <tr>
                  <td rowspan="3">
                    <%= attachment_image_tag recruitment.user, :image, format: 'jpeg', size: "100x100", fallback: "noimage-user.png", class: "comment-user-image-circle" %>
                  </td>
                  <td>
                    <span>
                      <%= recruitment.user.name %>
                      <span>さんの募集</span>

                      <% if recruitment.is_active == true %>
                        <% unless recruitment.participations.count == recruitment.capacity %>
                          参加者募集中
                        <% else %>
                          定員人数に達した為募集を中止しています
                        <% end %>
                      <% else %>
                        参加者募集を締め切っています
                      <% end %>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>
                      <%= recruitment.scheduled_start_date.strftime("予定日%Y年%m月%d日 -") %>
                      <%= recruitment.scheduled_end_date.strftime("%Y年%m月%d日") %>
                      募集人数<%= recruitment.participations.count %>/<%= recruitment.capacity %>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>
                      <%= link_to public_campsite_recruitment_path(recruitment.campsite_id, recruitment) do %>
                        <%= recruitment.campsite.name %>
                      <% end %>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>