<div class="container-fluid">
  <div class="row">
    <div class="area">
      <%# サイドバー %>
      <%= render partial: "layouts/sidebar" %>

      <%# メインコンテンツ %>
      <div class="main">
        <div class="main-imagecolor-opacity">
          <h2 class="main-title">My page</h2>
          <div class="row mypage-content">
            <div class="col-md-6">
              <div class="mypage-left">
                <%= attachment_image_tag @user, :image, format: 'jpeg', size: "200x200", fallback: "noprofile_image.jpg", class: "image-circle" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mypage-right">
                <table class="mypage-right-table">
                  <tr>
                    <th>名前</th>
                    <td><%= current_user.name %></td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td><%= current_user.email %></td>
                  </tr>
                  <tr>
                    <th>よく行くキャンプ場</th>
                    <td><%= current_user.favorite_place %></td>
                  </tr>
                  <tr>
                    <th>自己紹介</th>
                    <td><%= current_user.introduction %></td>
                  </tr>
                  <tr>
                    <th>募集中CAMP!</th>
                    <td><%= @recruitments.count %></td>
                  </tr>
                  <tr>
                    <th>参加予定CAMP!</th>
                    <td><%= @participations.count %></td>
                  </tr>
                </table>
                <div class="user-edit-link">
                  <%= link_to 'ユーザー編集', edit_public_user_path(@user), class: "link" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>